@import '../../../assets/styles/variables';


.location__photo_slider {
    width: 380px;
}


.location__photo_wrapper {
    width: 100%;
    height: 410px;

    border-radius: 15px;
    border: 4px solid $base;
    box-shadow: $_box_shadow;
    background: $gray;

    overflow: hidden;
    position: relative;

    &:hover {
        .image-zoom {
            display: block;
          }
    }
}

.location__photo {
    display: none;

    width: 100%;
    height: 410px;

    object-fit: cover;

    cursor: zoom-in;

    transition: transform 0.3s ease;
    transform-origin: center center;

    &:hover {
        transform: scale(1.5);
    }
}


.location__photo-selected {
    display: block;
}


.location__photo_pgn {
    display: flex;
    justify-content: center;
    column-gap: 15px;

    margin-top: 15px;
}


.location__photo_pgn_item {
    height: 80px;
    width: 80px;
    border-radius: 10px;

    opacity: 0.2;

    cursor: pointer;
}


.location__photo_pgn_item-selected {
    opacity: 1;
}

.mobile_map__button {
    display: none;

    font-size: 20px;
    font-weight: $regular;
    color: $white;
    background: $accent;
    border-radius: 25px;

    padding: 15px 30px;

    margin: 0 auto;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .location__photo {
        pointer-events: none;
    }


    .location__photo_pgn {
        display: none;
    }

    .mobile_map__button {
        display: block;
    }
}