@import './../../../assets/styles/variables';



.auth {
    position: fixed;
    z-index: 9999;

    background: $base;
    border-radius: 20px;
    box-shadow: $_box_shadow;

    max-width: 300px;
    width: calc(100% - 150px);
    padding: 50px 75px;

    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}



.auth__title {
    font-size: 32px;
    font-weight: $regular;

    text-align: center;
    width: 100%;

    margin-bottom: 50px;
}



.auth_buttons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 30px;
}



  

@media (max-width: 768px) {
    .auth {
        top: 20px;
        left: unset;
        transform: unset;
        max-width: unset;

        position: fixed;
        width: 100%;
        width: calc(100% - 60px);
        padding: 20px 30px;
    }
}