@import './../../../assets/styles/variables';


.sideBar-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(400px);
    height: 100vh;
    background: $base;

    padding: 60px 30px 60px 0px;

    z-index: 999;
    opacity: 1;
}


.subcategory_row,
.category_row {
    display: flex;
    align-items: center;
    position: relative;

    cursor: pointer;
}

.icon_wrapper {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category_row + .category_row {
    margin-top: 10px;
}

.subcategory_row + .subcategory_row {
    margin-top: 0px;
}

.subcategory__text,
.row__text {
    font-size: 20px;
    font-weight: $light;
    flex: 1;
    padding: 10px 10px;
    border-radius: 5px;
    line-height: 1.3;

    transition: background 0.05s ease-in-out;
}


.subcategory {
    position: absolute;
    background: $base;
    padding: 30px 15px 30px 15px;
    top: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    width: 400px;
    height: auto;
    right: 400px;

    transition: all 0.5s ease-in-out;
}


.subcategory--hidden {
    display: none;
}


.category_row {
    &:hover {
        .row__text {
            background: #555555;
        }
    }

    .subcategory_row {
        &:hover {
            .subcategory__text {
                background: #555555;
           } 
        }
       
    }
}


/* Transition group */
.subcat-enter {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.subcat-enter-active {
    opacity: 1;
}

.subcat-exit {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    display: none;
}

.subcat-exit-active {
    opacity: 0;
}
/* ./Transition group */