@import '../../../assets/styles/variables';

/* feedback */

.delivery_point_feedback__header {
    box-shadow: $_box_shadow;
    border-radius: 25px;
    background: $base;
}

.delivery_point_feedback__rating_ico {
    width: 20px;
    height: 20px;
}

.delivery_point_feedback__header {
    max-width: 330px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 17px 30px;
    margin-bottom: 40px;

    font-weight: $thin;
}

.delivery_point_feedback__numerical_rating {
    font-size: 24px;
    margin-bottom: 3px;
}


.delivery_point_feedback__count {
    font-size: 16px;
}


@media (max-width: 600px) {
    .delivery_point_feedback__header {
        padding: 17px 15px;
    }
}

/* ./feedback */