@import '../../../assets/styles/variables';





.small_column__row  {
    display: flex;
    justify-content: space-between;
    position: relative;

    column-gap: 20px;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0px;
    }
}


#color {
    appearance: none;
    cursor: pointer;
    width: 100%;
}


#color,
#count {
    max-width: calc(550px / 2 - 35px);
}


.add_product__color.circle,
.add_product__trash {
    position: absolute;

    right: -45px;
    bottom: 0;
}


.add_product__trash {
    height: 40px;
}


.error {
    background:  lighten($accent, 10%);
}



@media (max-width: 1280px) {
    .small_column__row  {
        column-gap: 100px;
    }

    .add_product__color.circle,
    .add_product__trash {
        right: 10px;
        width: 30px;
        height: 30px;
    }

    .add_product__color.circle {
        bottom: 7px;
    }

    .add_product__trash {
        bottom: 5px;
        filter: grayscale(100%) brightness(0%);
    }

    #color,
    #count {
        max-width: unset;
    }
}


@media (max-width: 800px) {
    .small_column__row  {
        display: flex;
        justify-content: space-between;

        position: relative;
        column-gap: 30px;
    
        margin-bottom: 20px;
    
        &:last-child {
            margin-bottom: 0px;
        }
    }

    #color,
    #count {
        width: calc(100% - 10px);
    }

    .add_product__color.circle {
        position: absolute;
    }
}
