@import '../../../assets/styles/variables';

.general_characteristics__couple_wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 100px;

    margin-bottom: 50px;
}


.general_characteristics__item_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    width: 100%;
    // max-width: 550px;
}



.general_characteristics__item_wrapper--hidden,
.general_characteristics__item_wrapper--hidden--subcategory,
.small_column--hidden {
    opacity: 0;
}

.general_characteristics__label {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: $regular;
}


.general_characteristics__input {
    height: 40px;
    border-radius: 5px;
    background: $white;
    color: $base;
    
    padding-left: 10px;
    font-size: 22px;
}


#category,
#subcategory {
    appearance: none;
    cursor: pointer;
    width: 100%;
    
}

#category_without_subcategory {
    appearance: none;
    cursor: pointer;
    width: 43%;
}

.error {
    background:  lighten($accent, 10%);
}


@media (max-width: 800px) {
    .general_characteristics__item_wrapper--hidden,
    .small_column--hidden,
    .general_characteristics__item_wrapper--hidden--subcategory {
        display: none;
    }

    .general_characteristics__couple_wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

    .general_characteristics__label {
        margin-bottom: 10px;
        text-align: left;
    }
}




