


/* Transition */
.choiceCityTransition-exit {
    opacity: 1;
}
  
.choiceCityTransition-exit-active {
    opacity: 0;
    transition: all 0.1s ease-in;
}
  
.choiceCityTransition-enter {
    opacity: 0;
}
  
.choiceCityTransition-enter-active {
    opacity: 1;
    transition: all 0.1s ease-out;
}
/* ./Transition */