@import './../../../assets/styles/variables';




.cartInfo {
    margin-top: 20px;
    margin-bottom: 50px;
}


.cartInfoStickyWrapper {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
}


.cartInfoItem {
    width: calc(100% - 14px);

    padding: 7px;

    background: $base;
    border-radius: 10px;
}



@media (min-width: 900px) {
    .cartInfo {
        margin-top: 43px;
        width: 45%;
    }
}


@media (min-width: 1440px) {
    .cartInfo {
        margin-top: 50px;
        width: 45%;

        row-gap: 20px;
    }

    .cartInfoItem {
        padding: 20px 10px;
    }
}