@import './../../../assets/styles/variables';




.current_delivery_point {
    margin-bottom: 50px ;
    margin-top: 100px;
}


.current_delivery_point__item {
    height: 400px;
    width: 250px;
    
    background: $base;
    border-radius: 10px;
    box-shadow: $_box_shadow;

    padding: 10px;
}

.current_delivery_point__img_wrapper {
    height: 240px;
    border-radius: 10px;

    background-color: $secondary;
    background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, .5) 50%,
      rgba(255, 255, 255, 0) 60%
    ) $secondary;
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 0.5s loading ease-in-out infinite;

    margin-bottom: 25px;
    position: relative;
}


.currentDeliveyLoader {
    position: absolute;
    margin-top: unset;
    top: 50%;
}


.fieldLoader {
    background: $gray;
    color: $gray;
    border-radius: 25px;
    width: 50%;
    height: 25px;

    background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, .5) 50%,
      rgba(255, 255, 255, 0) 60%
    ) $gray;
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 0.5s loading ease-in-out infinite;
}


.w_75 {
    width: 75%;
}


.current_delivery_point__description {
    font-weight: $light;
    font-size: 24px;
}


.current_delivery_point__img {
    height: 255px;
    border-radius: 10px;
}


.current_delivery_point__city {
    margin-bottom: 5px;
}


.current_delivery_point__address {
    margin-bottom: 10px;
}


.current_delivery_point__schedule {
    margin-bottom: 15px;
}


.current_delivery_point__rating {
    display: flex;
    column-gap: 10px;
}


.products__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}