@import './../../assets/styles/variables';




.products {
    display: flex;
    flex-wrap: wrap;

    margin: 0 -22px;
}




@media (max-width: 1440px) {
    .products {
        display: flex;
        flex-wrap: wrap;
    
        margin: 0 -11px;
        
    }
}


@media (max-width: 1280px) {
    .products {
        display: flex;
        flex-wrap: wrap;
    
        margin: 0 -11px;
        
    }
}


@media (max-width: 1024px) {
    .products {
        display: flex;
        flex-wrap: wrap;
    
        margin: 0 -11px;
        
    }
}


@media (max-width: 768px) {
    .products {
        display: flex;
        flex-wrap: wrap;
    
        margin: 0 -5px;
    }
}


@media (max-width: 600px) {
    .products {
        display: flex;
        flex-wrap: wrap;
    
        margin: 0 -5px;
    }
}


/* Transition group */
.prod-exit {
    opacity: 1;
    display: none;
  }
  
  .prod-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }
  
  /* Пример стиля для плавного появления */
  .prod-enter {
    opacity: 0;
  }
  
  .prod-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-out;
  }
/* ./Transition group */


