@import './../../assets/styles/variables';



.noSection {
    font-size: 48px;
    opacity: 0.1;
    font-weight: $bold;
    text-align: center;
    width: 100%;
    color: white
}


@media (max-width: 600px) {
    .noSection {
        font-size: 32px;
    }
}