@import './../../../assets/styles/variables';




.mobile_point__description {
    font-weight: 100;
    
    font-size: 22px;
}


.mobile_point--hidden {
    display: none;
}


.mobile_point {
    display: none;
}


@media (max-width: 768px) {
    .mobile_point {
        border-radius: 10px;
        background: rgba($base, 0.5);
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(16px);

        font-size: 16px;

        padding: 5px;

        display: flex;
        justify-content: center;
        align-items: center;
    }


    .mobile_point__city,
    .mobile_point__address,
    .mobile_point__schedule {
        text-align: center;
        margin-bottom: 7px;
    }

    
    .mobile_point__schedule {
        margin-bottom: 0px;
    }
}