@import '../../../assets/styles/variables';





.mapWrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    top: -15px;

    overflow: hidden;

    z-index: 99;
}

.map {
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 400px;
    border-radius: 10px;

    margin: 50px auto;
    margin-top: 20px;

    background-color: #96FEAD;
    background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, .5) 50%,
      rgba(255, 255, 255, 0) 60%
    ) #96FEAD;
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 0.5s loading ease-in-out infinite;

    box-shadow: $_box_shadow;

    color: $white;

    overflow: hidden;

    position: relative;

    display: flex;
    justify-content: right;
    align-items: center;
}


.ymaps-2-1-79-balloon {
    box-shadow: unset !important;
}


ymaps {
    border-radius: 10px;
}


.ymaps-2-1-79-map-copyrights-promo {
    display: none;
}


.map__button {
    font-size: 20px;
    font-weight: $regular;
    color: $white;
    background: $accent;
    border-radius: 10px;

    padding: 15px 30px;

    text-align: center;

    cursor: pointer;

    transition: all 0.3s ease-in-out;

    position: relative;
    bottom: 20px;

    &:hover {
        background: rgba($accent, 0.8)
    }
}



.mapWrapper.hidden {
    display: none;
}


.mobile_map__button {
    display: none;

    font-size: 20px;
    font-weight: $regular;
    color: $white;
    background: $accent;
    border-radius: 25px;

    padding: 15px 30px;

    margin: 0 auto;
    margin-top: 20px;
}


.map__buttonDisabled {
    opacity: 0.5;
    cursor: unset;

    &:hover {
        background: $accent;
    }
}


.closeMobileMap {
    position: absolute;
    top: 15px;
    right: 15px;

    font-size: 20px;
    font-weight: $regular;
    color: $white;
    background: $accent;
    border-radius: 5px;

    padding: 15px 30px;

    display: none;
}


@media (max-width: 1024px) {
    .closeMobileMap {
        display: block;
    }

    
    .location_wrapper {
        position: relative;
    }


    .mapWrapper {
        position: absolute;
        width: 100%;
    }


    .mapWrapperHidden {
        display: none;
    }


    #map {
        height: 550px;
        position: relative;
    }


    .map__btn_close {
        display: block;
    }


    .location__photo_pgn {
        display: none;
    }


    .map__button {
        pointer-events: none;
    }
    

    .map__button {
        display: none;
    }


    .mobile_map__button {
        display: block;
    }
}

