@import './../../../../assets/styles/variables';




.auth_buttons__button {
    width: 100%;
    height: 50px;

    text-align: center;
    border: 2px solid $white;
    border-radius: 5px;
    
    font-size: 24px;
    font-weight: $regular;

    transition: all 0.3s ease-in-out;

    &:hover {
        background: $secondary;
    }
}

.auth_buttons__button--disabled:hover {
    background: $base;
    cursor: not-allowed;
}


.auth__close_button {
    position: absolute;
    top: 1px;
    right: 15px;
    cursor: pointer;
    font-size: 48px;
    color: $white;

    transition: all 0.3s ease-in-out;
}


.auth__close_button:hover {
    color: $gray;
}