@import '../../../assets/styles/variables';




.relateSizeColor {
    display: block;

    width: calc((100% - 50px) / 1.5);
    padding: 25px;

    box-shadow: $_box_shadow;
    background: $base;
    border-radius: 5px;

    max-height: 600px;

    position: fixed;
    top: 50%;
    left: 50%;

    z-index: 99;
    
    transform: translate(-50%, -50%);

    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}


.relateSizeColor::-webkit-scrollbar {
    width: 0;
    height: 0;
}
  
.relateSizeColor::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}


.relateBtnsWrapper {
    display: flex;
    column-gap: 20px;
}


.relateSizeColorHidden {
    display: none;
}


@media (max-width: 1024px) {
    .relateSizeColor {
        width: calc((100% - 50px) / 1.1);
    }
}


@media (max-width: 660px) {
    .relateBtnsWrapper {
        width: 100%;
        justify-content: center;
    }
}


