@import '../../../assets/styles/variables';





.general_characteristics {
    margin-bottom: 50px;
}


.general_characteristics__couple_wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 100px;

    margin-bottom: 50px;
}


.general_characteristics__item_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    width: 100%;
}


.general_characteristics__item_wrapper--hidden {
    opacity: 0;
    width: 100%;
}

.general_characteristics__label {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: $regular;
}

.general_characteristics__input {
    height: 40px;
    border-radius: 5px;
    background: $white;
    color: $base;
    
    padding-left: 10px;
    font-size: 22px;
}

#name {
    max-width: calc(100% - 12px);
}

#price {
    width: 275rem;
    max-width: 275px;
}

.input_ico_wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;

    width: 100%;
}


.price_ico {
    font-size: 24px;
    font-weight: $regular;
}

.error {
    background:  lighten($accent, 10%);
}

#description {
    margin-top: 20px;
    resize: none;
    height: 300px;
    width: calc(100% - 12px);
}

@media (max-width: 800px) {
    .general_characteristics__couple_wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

    #description {
        height: 100px;
    }

    .general_characteristics__label {
        margin-bottom: 10px;
        text-align: left;
    }

    .general_characteristics__item_wrapper--hidden {
        display: none;
    }
}