@import './../../../assets/styles/variables';



.title {
    font-weight: inherit;
    font-size: 32px;

    margin-bottom: 30px;
    font-weight: $medium;
}


@media (max-width: 768px) {
    .title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .sendToCartTitle {
        margin-bottom: 2ch;
    }
}


@media (max-width: 400px) {
    .relateTitle {
        margin-bottom: 30px;
        font-size: 24px;
    }

    .sendToCartTitle {
        font-size: 24px;
    }
}


