@import '../../../assets/styles/variables';


main {
    margin: 75px 0;
}


.cart__title {
    font-size: 32px;
    font-weight: $regular;
    margin-bottom: 40px;

    display: flex;
    column-gap: 20px;
}


.cart__checkbox_all {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 22px;
    cursor: pointer;
    font-size: 26px;
    user-select: none;
    width: 30px;
}


.cart__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.cart__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: $base;
}


.cart__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.cart__checkbox input:checked ~ .cart__checkmark:after {
    display: block;
}
  

.cart__checkbox .cart__checkmark:after {
    left: 12px;
    top: 5px;
    width: 5px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.cartNoSection {
    margin-top: 100px;
    margin-bottom: 500px;
}


@media (max-width: 600px) {
    .cartNoSection {
        margin-top: 100px;
        margin-bottom: 200px;
    }
}



