@import '../../../assets/styles/variables';






.location_wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
}

.location {
    margin-top: 100px;
    height: 480px;
}


.location__title {
    font-size: 24px;
    font-weight: $regular;
    margin-bottom: 30px;
}


.location__photo_slider {
    width: 350px;
}


.location__photo_wrapper {
    width: 350px;
    height: 410px;

    border-radius: 15px;
    border: 4px solid $base;
    box-shadow: $_box_shadow;
    background: $gray;

    overflow: hidden;
    position: relative;

    &:hover {
        .image-zoom {
            display: block;
          }
    }
}


.location__photo {
    display: none;

    width: 100%;
    height: 410px;

    object-fit: cover;

    cursor: zoom-in;

    transition: transform 0.3s ease;
    transform-origin: center center;

    &:hover {
        transform: scale(1.5);
    }
}


.location__photo-selected {
    display: block;
}


.location__photo_pgn {
    display: flex;
    justify-content: center;
    column-gap: 15px;

    margin-top: 15px;
}


.location__photo_pgn_item {
    height: 80px;
    width: 80px;
    border-radius: 10px;

    opacity: 0.2;

    cursor: pointer;
}


.location__photo_pgn_item-selected {
    opacity: 1;
}


@media(max-width: 1024px) {
    .location_wrapper {
        display: flex;
        column-gap: 50px;
    }
}


@media (max-width: 768px) {
    .location__photo {
        pointer-events: none;
    }

    .location {
        margin-bottom: 100px;

    }
}


@media (max-width: 600px) {
    .location {
        margin-top: 50px;
    }

    .location__photo_slider {
        width: 100%;
    }
    
    
    .location__photo_wrapper {
        width: 100%;
    }
}